@model flight_ticket_system.Models.FlightsJay

@{
    ViewData["Title"] = "AddFlight";
    Layout = "_AdminLayout";
}

<h1>Add a new flight</h1>

<div>
    <a asp-action="ShowFlights" class="text-decoration-none">< Back</a>
</div>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="AddFlight">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="FlightNumber" class="control-label">Flight number</label>
                <input asp-for="FlightNumber" class="form-control" />
                <span asp-validation-for="FlightNumber" class="text-danger"></span>
            </div>
            <div class="form-group mt-2">
                <label asp-for="FlightName" class="control-label">Flight name</label>
                <input asp-for="FlightName" class="form-control" />
                <span asp-validation-for="FlightName" class="text-danger"></span>
            </div>
            <div class="form-group mt-2">
                <label asp-for="DepartureAirportCode" class="control-label">Departure airport code</label>
                <select asp-for="DepartureAirportCode" asp-items="@(ViewBag.airports)" class="form-control">
                    <option value="">Select Departure City</option>
                </select>
                <span asp-validation-for="DepartureAirportCode" class="text-danger"></span>
            </div>
            <div class="form-group mt-2">
                <label asp-for="ArrivalCode" class="control-label">Arrival airport code</label>
                <select asp-for="ArrivalCode" asp-items="@(ViewBag.airports)" class="form-control">
                    <option value="">Select Arrival City</option>
                </select>
                <span asp-validation-for="ArrivalCode" class="text-danger"></span>
            </div>
            <div class="form-group mt-2">
                <label asp-for="AirlineCode" class="control-label">Airline code</label>
                <select asp-for="AirlineCode" asp-items="@(ViewBag.airlines)" class="form-control">
                    <option value="">Select Airline</option>
                </select>
                <span asp-validation-for="AirlineCode" class="text-danger"></span>
            </div>
            <div class="form-group mt-2">
                <label asp-for="DepartureDateTime" class="control-label">Departure date time</label>
                <input asp-for="DepartureDateTime" class="form-control" />
                <span asp-validation-for="DepartureDateTime" class="text-danger"></span>
            </div>
            <div class="form-group mt-2">
                <label asp-for="ArrivalDateTime" class="control-label">Arrival date time</label>
                <input asp-for="ArrivalDateTime" class="form-control" />
                <span asp-validation-for="ArrivalDateTime" class="text-danger"></span>
            </div>
            <div class="form-group mt-2">
                <label asp-for="AvailableSeats" class="control-label">Seats available</label>
                <input asp-for="AvailableSeats" class="form-control" />
                <span asp-validation-for="AvailableSeats" class="text-danger"></span>
            </div>
            <div class="form-group mt-2">
                <label asp-for="TicketPrice" class="control-label">Ticket price</label>
                <input asp-for="TicketPrice" class="form-control" />
                <span asp-validation-for="TicketPrice" class="text-danger"></span>
            </div>
            <div class="form-group mt-3">
                <input type="submit" value="Create" class="btn btn-primary px-4" />
            </div>
        </form>
    </div>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
