@{
    ViewData["Title"] = "Admin home Page";
    Layout = "_AdminLayout";
}

<div>
    <h1 class="display-4 text-center">Welcome to admin pannel</h1>
    <h5 class="mt-5">You can perform the following operations</h5>
    <div class="mt-2">
        <p class="text-bold">Airlines</p>
        <ol>
            <li>Create a new airline</li>
            <li>Edit an airline</li>
            <li>Delete an airline</li>
        </ol>
    </div>
    <div class="mt-2">
        <p class="text-bold">Airports</p>
        <ol>
            <li>Create a new airport</li>
            <li>Edit an airport</li>
            <li>Delete an airport</li>
        </ol>
    </div>
    <div class="mt-2">
        <p class="text-bold">Flights</p>
        <ol>
            <li>Create a new flight</li>
            <li>Edit a flight</li>
            <li>Delete a flight</li>
            <li>View additional details for a flight</li>
        </ol>
    </div>
    <div class="mt-2">
        <p class="text-bold">Users</p>
        <ol>
            <li>Register a new user</li>
            <li>Edit a user's details</li>
            <li>Delete a user</li>
            <li>View additional details for a user such as their previous bookings</li>
        </ol>
    </div>
</div>
