@model IEnumerable<first_mvc_application.Models.EmployeeModel>

<table class="table">
    <tr>
        <th>Employee ID</th>
        <th>Employee Name</th>
        <th>Employee Salary</th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>@item.Id</td>
            <td>@item.Name</td>
            <td>@item.Salary</td>
        </tr>
    }
</table>